<div class="container-md mt-3">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere tellus sit amet feugiat venenatis. Morbi vitae accumsan quam, in ornare nulla. In euismod est dapibus, tincidunt eros ac, fringilla nisi. Maecenas id molestie elit. Aenean varius pellentesque justo id bibendum. Aenean ullamcorper lacus at neque euismod dictum. Ut dapibus hendrerit orci, sit amet blandit tellus sodales eu. Proin sem ipsum, volutpat eget pretium ac, rutrum ut metus. Curabitur non blandit ligula. Curabitur eget suscipit elit. Mauris ullamcorper, metus et interdum egestas, tellus est aliquam ex, et vulputate dolor justo ac arcu. Curabitur vel mauris hendrerit, condimentum justo a, placerat metus. 
    </p>

    <div style="text-align: center;">
        <button type="button" class="btn btn-primary btn-lg" (click)="GoToLesson(1)">
            Inizia le lezioni
        </button>
    </div>
</div>