#content {
    text-align: left;
    margin: 50px 200px 0px 0px;

}

.map {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.334);
}

iframe {
    height: 100%;
    /* min-width: 55vw; */
    min-height: 20rem;
}

.faces>div {
    margin: 10px;
    border: none;
    transition: ease .3s;
}


.faces>div:hover {
    scale: 1.05;
}

.faces>div .card-body {
    text-align: center;
}

.faces {
    margin-bottom: 5rem;
}

@media (max-width:900px) {

    .faces {
        flex-wrap: wrap;
    }

    .faces>div {
        margin: auto;
        margin-bottom: 10px;
        width: 47% !important;
        /* height: 17rem; */
    }

    .faces>div .card-body {
        height: 5rem;
    }

    .maps-cnt {
        flex-wrap: wrap;
        width: 100%;
    }

    .map {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}