<div class="container-md">
    <div class="mt-5 mb-5">
        <div class="m-5" style="text-align: center;">
            <h1 class="mb-3 fw-semibold lh-1">Impara le basi dell'economia</h1>
            <h3 class="lead mb-4" style="font-weight: 400;">con il nostro webinar gratuito</h3>
                <div class="m-3">
                    <button type="button" class="btn btn-primary btn btn-lg bd-btn-lg fw-semibold " (click)="GoToLesson(1)">
                        <div class="m-1">
                            Inizia le lezioni <i class="bi bi-mortarboard"></i>
                        </div>
                    </button>
                </div>
            </div>
        
            <p> 
                Unisciti a noi per una esperienza didattica coinvolgente, dove i nostri esperti del settore condivideranno le nozioni fondamentali dell'economia in modo chiaro e accessibile a tutti. Che tu sia un principiante curioso o un professionista che desidera rinfrescare le proprie conoscenze, il nostro webinar offre un approccio dinamico ed interattivo per esplorare concetti chiave come offerta e domanda, costi e ricavi e molto altro ancora.
            </p>

            <div class="m-4">
                <h5>Cosa aspettarti: </h5>
                <ul>
                    <li><b>Contenuto accessibile:</b> Spiegazioni chiare e esempi pratici per facilitare la comprensione.</li>
                    <li><b>Interattività:</b> Sessioni di domande e risposte per approfondire i concetti e chiarire i dubbi.</li>
                    <li><b>Risorse aggiuntive:</b> Materiale didattico e risorse online per continuare il tuo apprendimento dopo il webinar.</li>
                </ul>
            </div>
    </div>
</div>

<div class="bg-secondary-subtle mt-4">
    <div class="d-flex justify-content-between container-xxl maps-cnt">
        <div class="m-4">
            <h3>Dove siamo:</h3>

            Ci presentiamo come studenti iscritti all'Istituto Tecnico Tecnologico Superiore (ITTS) Rimini, con specializzazione nell'indirizzo di informatica. Il sito web attuale costituisce un progetto concreto che rientra nell'ambito della materia di Gestione dei Progetti e delle Organizzazioni (GPO), svolta come parte integrante del nostro percorso formativo.
        </div>
        <div class="m-4 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2867.7764348202872!2d12.582545577285787!3d44.04667342689184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132cc304851cf4bf%3A0x51cc463cca8e1944!2sITTS%20%22O.%20Belluzzi%20-%20L.%20Da%20Vinci%22!5e0!3m2!1sit!2sit!4v1704916372406!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="container-md">
    <div class="mt-5">
        <h3>Chi siamo:</h3>

        <div class="d-flex faces">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/faceImg/Diego-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diego Mario Alessi Tosi</h5>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img src="../../assets/faceImg/Filippo-1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Filippo Cosmi</h5>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../assets/faceImg/Leo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Leonardo Geminiani</h5>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../assets/faceImg/Giova-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Riccardo Giovagnoli</h5>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../assets/faceImg/Bryan-1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bryan Nicolas Bianchi</h5>
                </div>
            </div>
        </div>
    </div>
</div>
