#content{
    text-align: left;
    margin: 50px 200px 0px 0px;

}

.map {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.334);
}

iframe {
    height: 100%;
    /* min-width: 55vw; */
    min-height: 20rem;
}


@media (max-width:900px)
{
    .maps-cnt {
        flex-wrap: wrap;
        width: 100%;
    }

    .map {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}