<div class="container-xxl mt-2" *ngIf="lesson; else elseBlock">
    <h1>{{lesson!.title}}</h1>
    <div class="d-flex justify-content-center">
        <div>
            <vg-player>
                <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                    <source src="{{lesson!.video}}" type="video/mp4">
                </video>
            </vg-player>
            <p class="m-3">{{lesson!.subtitle}}</p>
        </div>
        <div class="m-3">
            <div class="card" style="width: 10rem; height: 70%; overflow-y: auto; ">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                </ul>
            </div>
            <a type="button" class="btn btn-primary mt-3" style="width: 100%;" *ngIf="nextLesson" href="/lesson?n={{(number ?? 0)+1}}">
                Prossima Lezione
            </a>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <app-not-found></app-not-found>
</ng-template>