<div class="container-xxl mt-2" *ngIf="lesson; else elseBlock">
    <div>
        <h1>{{lesson!.title}}</h1>
        <p class="m-3">{{lesson!.subtitle}}</p>
        <div class="container-video-materiali">
            <div>
                <vg-player style="border-radius: 10px;">
                    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                        <source src="{{lesson!.video}}" type="video/mp4">
                    </video>
                </vg-player>
            </div>
            <div id="container-materiali">
                <h6 style="text-align: center;">Materiali lezione</h6>
                <div class="card" id="card-materiali">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item file" *ngFor="let item of lesson!.filesList">
                            <i class="fs-4 bi bi-filetype-{{GetFileExtension(item)}}"></i>
                            <a id="link-file" [href]="item" download>{{GetFileName(item)}}</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary mt-3" style="width: 100%;" *ngIf="nextLesson"
                    (click)="GoToLesson((number ?? 0)+1)">
                    Prossima Lezione
                </button>
            </div>
        </div>
    </div>
</div>
<div class="bg-body-secondary" id="container-quiz">
    <h2 style="text-align: center; padding: 10px 0px;">Quiz</h2>
    <div class="contiframe">
        <iframe [src]="lesson!.googleDocIframe | safe" frameborder="0" marginheight="0"
            marginwidth="0">Caricamento…</iframe>
    </div>
</div>
<ng-template #elseBlock>
    <app-not-found></app-not-found>
</ng-template>